:root {
  --bg-color: #f4f4f4; /* Background color variable */
  --text-color: #333; /* Text color variable */
  --primary-color: #3498db; /* Primary color variable */
  --secondary-color: #e74c3c; /* Secondary color variable */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../styles/theme.css");

body {
  font-family: "Inter", "Space_Grotesque"; /* Sets the font family for the entire page */
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center; /* Centers content both horizontally and vertically */
  }

  .flex-between {
    @apply flex justify-between items-center; /* Spaces content between items */
  }

  .flex-start {
    @apply flex justify-start items-center; /* Aligns content to the start */
  }

  .card-wrapper {
    @apply bg-var(--bg-color) shadow-light-100; /* Applies background color and shadow to card elements */
  }

  .btn {
    @apply bg-var(--primary-color) text-var(--text-color) !important; /* Styles for primary buttons */
  }

  .btn-secondary {
    @apply bg-var(--secondary-color) text-var(--text-color) !important; /* Styles for secondary buttons */
  }

  .btn-tertiary {
    @apply bg-light-700 dark:bg-dark-300 text-var(--text-color) !important; /* Styles for tertiary buttons */
  }

  .markdown {
    @apply max-w-full prose dark:prose-p:text-light-700 dark:prose-ol:text-light-700 dark:prose-ul:text-light-500 dark:prose-strong:text-white dark:prose-headings:text-white prose-headings:text-dark-400 prose-h1:text-dark-300 prose-h2:text-dark-300 prose-p:text-dark-500 prose-ul:text-dark-500 prose-ol:text-dark-500; /* Styles for markdown content and text */
  }

  .primary-gradient {
    background: linear-gradient(135deg, #2980b9 0%, #3498db 100%); /* Gradient for elements with the primary color */
  }

  .dark-gradient {
    background: linear-gradient(135deg, #1a1a1a 0%, #333 100%); /* Dark gradient for elements */
  }

  .tab {
    @apply min-h-full dark:bg-dark-400 bg-var(--bg-color) text-var(--text-color) dark:data-[state=active]:bg-dark-300 data-[state=active]:bg-var(--primary-color) data-[state=active]:text-primary-500 !important; /* Styles for tab components with active state */
  }
}

.no-focus {
  @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important; /* Removes focus styles on click */
}

.active-theme {
  filter: invert(53%) sepia(98%) saturate(3332%) hue-rotate(0deg) brightness(104%) contrast(106%) !important; /* Applies an active theme effect using CSS filters */
}

.light-gradient {
  background: linear-gradient(135deg, #ecf0f1 0%, #f4f4f4 100%); /* Background gradient for elements */
}

.primary-text-gradient {
  background: linear-gradient(135deg, #3498db 0%, #2980b9 100%); /* Text gradient using the primary color */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px; /* Customizes scrollbar appearance */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f4f4f4; /* Track color for scrollbars */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #555; /* Thumb color for scrollbars */
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #333; /* Thumb color when hovered over */
}

.markdown a {
  color: #3498db; /* Link color in markdown content */
}

.markdown a,
code {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  padding: 2px;
  color: #e74c3c !important; /* Styles for links and code blocks */
}

.markdown pre {
  display: grid;
  width: 100%;
}

.markdown pre code {
  width: 100%;
  display: block;
  overflow-x: auto;
  color: inherit !important; /* Styles for preformatted code blocks */
}

.cl-internal-b3fm6y {
  background: linear-gradient(135deg, #3498db 0%, #2980b9 100%) !important; /* Background gradient for specific elements */
}

.hash-span {
  margin-top: -140px; /* Adjusts the vertical position of a specific element */
  padding-bottom: 140px;
  display: block;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hides scrollbars */
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
